
# ROS 2 colcon build artifacts
build/
install/
log/

# Python cache
__pycache__/
*.pyc

# CMake artifacts
CMakeFiles/
CMakeCache.txt

# Visual Studio Code settings
.vscode/
.colcon/
.venv/
.cache/

# Misc
*.swp
*.swo
*.bak
*.tmp
*.log
*.jpg
*.png
*.npy
*.idx
*.json
*.mcap

*.mp4
*.avi
*.mov
*.zip

*.onnx
*.tflite
*.pt
*.engine